<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
        <!-- Bootstrap icons-->
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" th:href="@{/public}">Recursos Humanos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
						<div th:if="${fallo!=null}">
                            	<div class="alert alert-danger" role="alert" th:text="${fallo}"></div>
                        </div>
                </ul>
                <form th:action="@{/logout}" method="POST">
		                	<li class="nav-item"><button type="submit" class="btn btn-danger">Logout</button></li>
		        </form>
		        &nbsp;
                    <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-2"></i>
                            <span class="small">Register</span>
                        </span>
                    </button>
                </div>
            </div>
        </nav>
        <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div>
                            <h1 class="display-1 lh-1 mb-3">Users</h1>
                    </div>
              <table class="table">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">Name</th>
				      <th scope="col">Surname</th>
				      <th scope="col">Email</th>
				      <th scope="col">Phone number</th>
				      <th scope="col">Cicle</th>
				      <th scope="col">¿Enable?</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="user: ${users}">
				      <th th:text="${user.nombre}"></th>
				      <th th:text="${user.apellidos}"></th>
				      <th th:text="${user.email}"></th>
				      <th th:text="${user.telefono}"></th>
				      <th th:text="${user.telefono}"></th>
				      <th>
				      	<form th:if="${user.enabled == true}" th:action="@{'/admin/disableUser/' + ${user.id}}" method="POST">
				      		<button  type="submit" class="btn btn-danger">Disable</button>
				      	</form>
				      	<form th:if="${user.enabled == false}" th:action="@{'/admin/enableUser/' + ${user.id}}" method="POST">
				      		<button  type="submit" class="btn btn-success">Enable</button>
				      	</form>
				      </th>     
				    </tr>
				  </tbody>
			</table>
                </div>
            </div>
        </header>
        <!-- Quote/testimonial aside-->
        <!-- App features section-->
        
        <footer th:replace="index :: footer" class="footer bg-light">
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/js/scripts.js}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
